<span class="ready_quickurl">
  Your quickurl <%= link_to "#{request.host}:#{request.port}/" + @url.random_hash, "http://#{request.host}:#{request.port}/" + @url.random_hash %> is ready!
</span>
<%= link_to "↺", :root, class: "button" %>
